* {
  box-sizing: border-box;
}

.fretboard {
  display: grid;
  gap: 2px;
  grid-template-columns: auto repeat(13, 1fr);
  grid-template-rows: auto repeat(6, 1fr) auto;
  place-items: center;
  width: 100%;
}

.fret {
  border: 1px solid #222;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100%;
  place-items: center;
  width: 100%;
}

.int {
  height: 10%;
  width: 100%;
}

/*

Cai theme from http://gogh-co.github.io/Gogh/

#000000 | #808080 // dark gray
#ca274d | #e98da3 // red
#4dca27 | #a3e98d // green
#caa427 | #e9d48d // yellow
#274dca | #8da3e9 // blue
#a427ca | #d48de9 // purple
#27caa4 | #8de9d4 // cyan
#808080 | #ffffff // light gray

*/

.int-1 { background-color: #274dca; } /* minor 2nd */
.int-2 { background-color: #8da3e9; } /* major 2nd */
.int-3 { background-color: #ca274d; } /* minor 3rd */
.int-4 { background-color: #e98da3; } /* major 3rd */
.int-5 { background-color: #caa427; } /* perfect 4th */
.int-6 { background-color: #000000; } /* tritone  */
.int-7 { background-color: #e9d48d; } /* perfect 5th */
.int-8 { background-color: #a427ca; } /* minor 6th */
.int-9 { background-color: #d48de9; } /* major 6th */
.int-10 { background-color: #4dca27; } /* minor 7th */
.int-11 { background-color: #a3e98d; } /* major 7th */
.int-12 { background-color: #808080; } /* perfect unison */

.note {
  text-align: center;
  width: 2em;
}

.tune {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto 2em auto;
  height: 100%;
  place-items: center;
  width: 100%;
}
