.title {
  text-align: center;
}

.piano {
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "c c c c  d d d d  e e e e  f f f f  g g g g  a a a a  b b b b"
    "c c c c  d d d d  e e e e  f f f f  g g g g  a a a a  b b b b";
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  aspect-ratio: 7 / 4;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.accidental button {
  background-color: hsl(0, 0%, 10%);
  border: 1px solid black;
  color: white;
  height: 100%;
  width: 100%;
}

.accidental button:hover {
  background-color: hsl(0, 0%, 20%);
}

.accidental.selected button {
  background-color: hsl(214, 100%, 30%);
}

.accidental.selected button:hover {
  background-color: hsl(214, 100%, 40%);
}

.natural button {
  background-color: hsl(0, 0%, 90%);
  border: 1px solid white;
  color: black;
  height: 100%;
  width: 100%;
}

.natural button:hover {
  background-color: hsl(0, 0%, 100%);
}

.natural.selected button {
  background-color: hsl(214, 100%, 70%);
}

.natural.selected button:hover {
  background-color: hsl(214, 100%, 80%);
}

.note-cs { grid-area: 1 /  4 / span 1 / span 2; }
.note-ds { grid-area: 1 /  8 / span 1 / span 2; }
.note-fs { grid-area: 1 / 16 / span 1 / span 2; }
.note-gs { grid-area: 1 / 20 / span 1 / span 2; }
.note-as { grid-area: 1 / 24 / span 1 / span 2; }

.note-cs button,
.note-ds button,
.note-fs button,
.note-gs button,
.note-as button { border-radius: 0px 0px 4px 4px; }

.note-c { grid-area: c }
.note-d { grid-area: d }
.note-e { grid-area: e }
.note-f { grid-area: f }
.note-g { grid-area: g }
.note-a { grid-area: a }
.note-b { grid-area: b }
